.display-none{
    display: none;
}
.rotate_360deg{
    animation: circle_rotate 0.5s;
}
.sqr-box-600x100px{
    width: 600px;
    height: 100px;
}
.sqr-box-600x20px{
    width: 600px;
    height: 20px;
}
.sqr-box-600x35px{
    padding: 5px 0 0 10px;
    width: 600px;
    height: 35px;
    border-radius: 9px;
    color: rgb(36, 33, 216);
    font-weight: 800;
}
.sqr-box-600x35px:hover{
    color: chartreuse;
    /* background-color: blue; */
    font-weight: 800;
    margin-left: 20px;
    /* transform: scale(1.2); */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sqr-box-600x50px{
    width: 600px;
    height: 50px;
}
.flex-coloumn{
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: space-evenly;
}
.flex-row{
    display: flex;
    flex-direction:row;
    align-content: center;
    justify-content: space-evenly;
}
.title{
    font-weight: 600;
    font-family: cursive;
}
.mrgn-left-100px{
    margin-left: 100px;
}
.gradient-for-title{
    background-image: linear-gradient(#D4145A,#FBB03B);
}
.close{
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-size: 26px;
    color: red;
    font-weight: 1000;
    background-color: white;
    width: max-content;
    height: max-content;
    box-shadow: rgba(10, 64, 126, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.close:active{
    transform: scale(0.9);
}
.rel-right-top{
    position: relative;
    top: -30px;
    left: 98%;
    cursor: pointer;
}
.user-select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  }
.width-min-content-max-500{
    min-height: max-content;
    max-width: 500px;
}
.dark-bg-color{
    background-color: black;
}
.light-bg-color{
    background-color: rgb(221, 207, 16);
}
.title{
    width: max-content;
    height: max-content;
    padding: 2px 1px 2px 2px;
    border-radius: 20px;
    background: #e53935;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: auto;
}
.clickable{
    cursor: pointer;
}
.clickable:active{
    transform: scale(0.95);
}